# For documentation see: https://github.com/git/git/blob/master/Documentation/mailmap.txt
# Full names and mail addresses are taken from the Github contributor profile page, or from 
# https://api.github.com/users/xxxxx/events/public when the info does not show in the public profile page
# Individual contributors should check and see if all their names/emails are aliased correctly

Gadi Aleksandrowicz <gadial@gmail.com>
Yael Ben-Haim <yaelbh@il.ibm.com>
Shaohan Hu <hushaohan@gmail.com>
Jay Gambetta <jay.gambetta@us.ibm.com>
Shelly Garion <shelly@il.ibm.com>
Ali Javadi-Abhari <ajavadia@users.noreply.github.com>
David McKay <dcmckay@us.ibm.com>
Paul Nation <nonhermitian@gmail.com>
Yehuda Naveh <naveh@il.ibm.com>
Matthew Treinish <mtreinish@kortar.org>
Christopher J. Wood <cjwood@us.ibm.com>
James Wootton <jwo@zurich.ibm.com>
