# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master
- stable

jobs:
    - job: 'Docs'
      pool: {vmImage: 'ubuntu-16.04'}
      strategy:
        matrix:
          Python37:
            python.version: '3.7'
      steps:
       - checkout: self
       - task: UsePythonVersion@0
         inputs:
           versionSpec: '$(python.version)'
         displayName: 'Use Python $(python.version)'
       - bash: |
           set -e
           python -m pip install --upgrade pip virtualenv
           pip install -U tox
           python setup.py build_ext --inplace
         displayName: 'Install dependencies'
       - bash: |
           tox -edocs -- -j auto
         displayName: 'Run Docs build'
       - task: PublishBuildArtifacts@1
         displayName: 'Publish docs'
         inputs:
           pathtoPublish: 'docs/_build/html'
           artifactName: 'html_docs'
    - job: 'windows'
      pool:
        vmImage: 'vs2017-win2016'
      strategy:
        matrix:
          Python35:
            python.version: '3.5'
            TOXENV: py35
          Python36:
            python.version: '3.6'
            TOXENV: py36
          Python37:
            python.version: '3.7'
            TOXENV: py37

      steps:
        - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
          displayName: Add conda to PATH
        - script: conda create --yes --quiet --name qiskit-ignis
          displayName: Create Anaconda environment
        - script: |
            call activate qiskit-ignis
            conda install --yes --quiet --name qiskit-ignis -c cvxgrp python=%PYTHON_VERSION% cvxpy
          displayName: Install Anaconda packages
        - script: |
            call activate qiskit-ignis
            python -m pip install -c constraints.txt --upgrade pip virtualenv
            pip install -c constraints.txt tox
            tox -e%TOXENV%
          displayName: 'Install dependencies and run tests'
